Datavail.Delta.Agent.SharedCode/Service References/UpdateServiceProxy/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws.delta.cloud.datavail.com/UpdateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws.delta.cloud.datavail.com/UpdateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws.delta.cloud.datavail.com/UpdateService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateService_GetAssembly_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssembly" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetAssembly_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssemblyResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetAssemblyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssemblyList" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetAssemblyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssemblyListResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateService">
    <wsdl:operation name="GetAssembly">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetAssembly" message="tns:IUpdateService_GetAssembly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetAssemblyResponse" message="tns:IUpdateService_GetAssembly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssemblyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetAssemblyList" message="tns:IUpdateService_GetAssemblyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetAssemblyListResponse" message="tns:IUpdateService_GetAssemblyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetConfig" message="tns:IUpdateService_GetConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetConfigResponse" message="tns:IUpdateService_GetConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateService" type="tns:IUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssembly">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetAssembly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssemblyList">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetAssemblyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port name="BasicHttpBinding_IUpdateService" binding="tns:BasicHttpBinding_IUpdateService">
      <soap:address location="http://ws.delta.cloud.datavail.com/UpdateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>